.uk-breadcrumb {
  display: flex;
  flex-wrap: wrap; }
  .uk-breadcrumb .pw-panel {
    margin-right: -8px; }
  .uk-breadcrumb li {
    font-size: 0.875rem;
    position: relative;
    display: list-item;
    color: #8d939e; }
  .uk-breadcrumb > li {
    display: flex; }
    .uk-breadcrumb > li::before {
      content: none !important; }
    .uk-breadcrumb > li #autosave-toggle {
      margin-left: 14px; }
  .uk-breadcrumb .dropdown-toggle {
    color: #d2d4d9 !important;
    width: 21px;
    height: 21px;
    margin: 0 6px;
    position: relative;
    bottom: -1px; }
    .uk-breadcrumb .dropdown-toggle i {
      position: relative;
      left: 2px;
      bottom: 1px; }
    .uk-breadcrumb .dropdown-toggle:not(.no-dropdown):hover {
      background-color: #f0f3f7;
      color: #354b60 !important;
      cursor: pointer; }
  .uk-breadcrumb .breadcrumb-dropdown {
    list-style: none;
    background-color: #fff;
    position: absolute;
    left: 6px;
    top: 28px;
    z-index: 199;
    padding: 0;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.175);
    border: 1px solid #d9e1ea;
    border-bottom: none;
    display: none; }
    body.AdminThemeUikitDefault .uk-breadcrumb .breadcrumb-dropdown {
      overflow-y: auto; }
    .uk-breadcrumb .breadcrumb-dropdown.visible {
      display: block; }
    .uk-breadcrumb .breadcrumb-dropdown li.item-current .inner-item {
      color: #e83561; }
    .uk-breadcrumb .breadcrumb-dropdown li.add-new a {
      background-color: #e7f6f2; }
      .uk-breadcrumb .breadcrumb-dropdown li.add-new a:hover {
        background-color: #d6f2ea; }
    .uk-breadcrumb .breadcrumb-dropdown li.add-new i {
      color: #3eb998;
      margin-left: -3px; }
    .uk-breadcrumb .breadcrumb-dropdown li .inner-item {
      color: #354b60;
      display: block;
      white-space: nowrap;
      padding: 2px 10px 3px;
      border-bottom: 1px solid #d9e1ea; }
    .uk-breadcrumb .breadcrumb-dropdown li .uneditable .item-title {
      cursor: not-allowed;
      font-style: italic;
      opacity: 0.6; }
    .uk-breadcrumb .breadcrumb-dropdown li a:hover {
      text-decoration: none;
      background-color: #f0f3f7; }
  .uk-breadcrumb .status-hidden {
    opacity: 0.6; }
  .uk-breadcrumb .status-unpublished {
    text-decoration: line-through; }
  .uk-breadcrumb a {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 440px;
    overflow: hidden; }
